:root{
    --color-1: #5C4DC2;
    --color-2: #ffff;
    --color-3: #1a1a1a;
    --color-4: #699BA6;

}
body{
	background-color: #e8eef3;
}
*{
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.align-items-center{
	align-items: center;
}
.justify-content-between{
	justify-content: space-between;
}
.header{
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: var(--color-2);
	padding: 12px 0;
    width: 100%;
	line-height: 1.5;
    
}

.header .logo,
.header .nav{
	padding:0 15px;
}
.header .logo a{
	font-size: 30px;
	color: var(--color-3);
    font-weight: bold;
	text-transform: capitalize;
}
.header .logo span{
    color: var(--color-1);
}
.header .nav ul li{
	display: inline-block;
	margin-left: 40px;
}
.header .nav ul li a{
	display: block;
	font-size: 16px;
    font-weight: 600;
	text-transform: uppercase;
	color: var(--color-3);
	padding: 10px 0;
	transition: all 0.5s ease;
}
.header .nav ul li a.active,
.header .nav ul li a:hover{
	color: var(--color-1);
}
.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 15px;
}
.nav-toggler:focus{
	outline: none;
	box-shadow: 0 0 15px rgba(255,255,255,0.5);
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
}
.nav-toggler.active span{
	background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: var(--color-1);
	transition: all 0.3s ease;
}
.nav-toggler span::before{
	transform: translateY(-6px);
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler span::after{
	transform: translateY(6px);
}
.nav-toggler.active span::after{
	transform: rotate(135deg);
}

.Home{
    width: 100%;
    height: 100vh;
}
.container-home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text-home{
    position: absolute;
    top: 150px;
    left: 40px;
    width: 45%;
    font-size: 50px;
    font-weight: 700;
}
.text-home .text-2:before{
content: "";
position: absolute;
top: 70px;
left: 0;
width: 100%;
height: 70px;
background-color: #e8eef3;
border-left: 2px solid  #000000;
animation: animate 8s steps(24) infinite;
}
@keyframes animate{
40%, 60%{
    left: calc(60% + 4px);
}
100%{
    left: 0%;
}
}
.text-home .text-3{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
}
.button-home{
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px solid var(--color-4);
    margin-top: 30px;
    width: 225px;
    height: 55px;
    padding: 10px;
    background-color: #62A4B1;
    border-radius: 10px;
    transition: 1s ease-in-out;
}
.button-home:hover{
    background-color: #62A4B1;
    border: 3px solid white;
}
.button-home:hover.button-home a{
    color: #1a1a1a;
}
.button-home a{
    transition: 1s ease-in-out;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-2);
}
.bg img{
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    z-index: -999;
}
.image img{
    object-fit: cover;
    position: absolute;
    top: 110px;
    right: 0;
    width: 560px;
    height: 400px;
}
#image-image{
   width: 450px;
   height: 550px;
   object-fit: fill;
}
.menu{
    height: auto;
    margin-bottom: 30px;
}
.text-menu{
    width: 70%;
    margin: auto;
    text-align: center;
    color: var(--color-3);
}
.text-menu .h-text{
    margin-top: 20px;
    font-weight: 800;
    font-size: 30px;
}
.text-menu .f-text{
    padding: 15px;
    font-weight: 500;
    font-size: 18px;
}
.konten-menu{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
}
.konten-menu .bungkus{
    margin-top: 30px;
    margin-inline: 5px;
    margin-inline-end: 0;
    width: 400px;
    height: 200px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.bungkus img{
    position: relative;
    margin-top: 20px;
    left: 20px;
}
.judul-menu{
    font-weight: 900;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 20px;
}
.deskripsi-menu{
    margin-right: 5px;
    font-size: 11px;
    margin-top: 5px;
    font-weight: 500;
    margin-left: 20px;
}
.about{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
}
.about img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}
.text-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.judul-about{
    font-size: 30px;
    font-weight: 800;
}
.deskripsi-about{
    text-align: justify;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
footer{
    background-color: var(--color-3);
    width: 100%;
    height: auto;
}
.judul-f{
    color: var(--color-2);
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding: 20px;
}
.isi-foot{
    width: 70%;
    margin: auto;
    text-align: center;
    color: var(--color-2);
    font-size: 15px;
    font-weight: 500;
}
.awesome{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fa{
    color: var(--color-2);
    margin-right: 15px;
    margin-inline-end: none;
}
.fa:hover{
    color: var(--color-4);
}
hr{
    margin-top: 20px;
    color: rgb(85, 80, 80);
}
.pembuat{
    background-color: #252525;
}
.pembuat p{
    text-align: center;
    color: var(--color-2);
    padding: 10px;
    font-size: 15px;
}
@media(max-width:991px){
    .header{
        position: fixed;
        z-index: 999;
    }
    .nav-toggler{
        display: block;
    }
    .header .nav{
        width: 100%;
        padding:0;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.5s ease;
    }
    .header .nav.open{
        visibility: visible;
    }
    .header .nav ul{
        padding:12px 15px 0;
        margin-top: 12px;
        border-top:1px solid rgba(255,255,255,0.2);
    }
    .header .nav ul li{
        display: block;
        margin:0;
    }
 }

 @media(max-width: 460px){
    .Home{
        z-index: 99;
     width: 100%;
     height: 650px;
    }
    .container-home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-home{
        position: absolute;
        top: 100px;
        width: 100%;
        left: 0;
        margin: auto;
        text-align: center;
        font-size: 31px;
        font-weight: 700;
    }
    .text-home .text-2:before{
        display: none;
    }
    .text-home .text-3{
        margin-top: 25px;
        margin-bottom: 10px;
        color: var(--color-2);
        padding: 30px;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        line-height: 1.5;
    }
    .button-home{
        margin-top: 0;
        width: 150px;
        height: 40px;
        padding: 5px;
        border-radius: 15px;
    }
    .button-home a{
        font-size: 10px;
        align-items: center;
        text-align: center;
        font-weight: 700;
        color: var(--color-2);
    }
    .bg img{
        position: absolute;
        width: 100%;
        top: 537px;
        z-index: -999;
    }
    .image img{
        top: 190px;
        object-fit: fill;
        position: absolute;
        width: 100%;
        height: 250px;
        z-index: -1;
    }
    #image-image{
       top: 190px;
       width: 250px;
       height: 400px;
       object-fit: fill;
    }
    
.text-menu{
    width: 100%;
    text-align: center;
    color: var(--color-3);
}
.text-menu .h-text{
    margin-top: 20px;
    font-weight: 800;
    font-size: 20px;
}
.text-menu .f-text{
    padding: 15px;
    font-weight: 500;
    font-size: 10px;
}

.konten-menu{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}
.konten-menu .bungkus{
    margin-top: 15px;
    margin-inline: 0;
    margin-inline-end: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.text-menu2{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.bungkus img{
    width: 150px;
    height: 85%;
    margin: auto;
    position: relative;
    left: 20px;
}
.judul-menu{
    font-weight: 900;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    left: 20px;
}
.deskripsi-menu{
    font-size: 10px;
    margin-top: 10px;
    font-weight: 500;
    left: 20px;
}
.about{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin-bottom: 30px;
    margin: auto;
}
.about img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.text-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.judul-about{
    font-size: 30px;
    font-weight: 800;
}
.deskripsi-about{
    font-size: 10px;
    text-align: justify;
    font-weight: 500;
    margin-bottom: 25px;
}
footer{
   margin-top: 40px;
}
.judul-f{
    font-size: 15px;
    font-weight: 800;
}
.isi-foot{
    width: 90%;
    margin: auto;
    font-size: 10px;
}

.awesome i{
    font-size: 10px;
    color: var(--color-2);
    margin-right: 15px;
    margin-inline-end: none;
}
.fa:hover{
    color: var(--color-4);
}
.hr{
    margin-top: 40px;
}
.pembuat p{
    padding: 8px;
    font-size: 10px;
}
 }